name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Configure CMake
        run: cmake -B build -DBUILD_TESTS=ON
      - name: Build
        run: cmake --build build --config Release
      - name: Run tests
        run: ctest --test-dir build -C Release --output-on-failure
